@import "tailwindcss";
/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox and IE */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#home{
height: 900px;
}
html {
  scroll-behavior: smooth;
}


@media only screen and (min-width: 1025px) and (max-width: 1280px) {
 #carImg{
  width: 150px;
}
}



@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.auto-scroll {
  display: flex;
  animation: scroll-left 40s linear infinite;
}

.auto-scroll:hover {
  animation-play-state: paused;
}

@keyframes redOverlay {
  0% {
    transform: translateX(0);
    opacity: 0.95;
  }
  30% {
    transform: translateX(0);
    opacity: 0.95;
  }
  100% {
    transform: translateX(100%);
    opacity: 0.80;
  }
}

.animate-redOverlay {
  background: rgba(212, 3, 3, 0.9); /* darker red */
  animation: redOverlay 4s ease-in-out forwards;
}

@keyframes showBack {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-showBack {
  animation: showBack 1s ease-in forwards;
  animation-delay: 2.6s; /* start after overlay completes */
}


/* Target active pagination bullet */
.swiper-pagination-bullet-active {
  background-color: red !important;
   opacity: 1 !important; 
}

/* Optional: Change inactive dots too */
.swiper-pagination-bullet {
  background-color: red !important; /* light red (optional) */
}

/* mobile  */
@media (min-width: 320px) and (max-width: 667px) {
  #tyre{
    top: 226px !important;
    width: 390px !important;
  }
}
@media (min-width: 320px) and (max-width: 503px) {
  #tyre{
    top: 258px !important;
    width: 370px !important;
  }
}
@media (min-width: 320px) and (max-width: 448px) {
  #tyre{
    top: 271px !important;
    width: 350px !important;
  }
}
@media (min-width: 320px) and (max-width: 383px) {
  #tyre{
    top: 305px !important;
    width: 300px !important;
  }
}
@media (min-width: 320px) and (max-width: 372px) {
  #tyre{
    top: 328px !important;
    width: 300px !important;
  }
}

@media (min-width: 320px) and (max-width: 362px) {
  #tyre{
    top: 342px !important;
    width: 280px !important;
  }
}
@media (min-width: 320px) and (max-width: 351px) {
  #tyre{
    top: 363px !important;
    width: 280px !important;
  }
}
@media (min-width: 320px) and (max-width: 349px) {
  #tyre{
    top: 402px !important;
    width: 250px !important;
  }
}
@media (min-width: 320px) and (max-width: 326px) {
  #tyre{
    top: 450px !important;
    width: 250px !important;
  }
}

/* /////// */
/* desktop  */
/* @media (min-width: 1024px) and (max-width: 1342px) {
  #tyre{
    top: 130px !important;
    width: 450px !important;
  }
} */
/* @media (min-width: 1025px) and (max-width: 1160px) {
  #tyre{
    top: -195px !important;
    width: 350px !important;
  }
} */
@media (min-width: 1024px) and (max-width: 1028px) {
  #tyre{
    top: 136px !important;
    width: 350px !important;
  }
}
@media (min-width: 1029px) and (max-width: 1149px) {
  #tyre{
    top: 115px !important;
    width: 350px !important;
  }
}
@media (min-width: 1150px) and (max-width: 1250px) {
  #tyre{
    top: 125px !important;
    width: 350px !important;
  }
}

#road-animation {
  line-height: 0;
}