@import "tailwindcss";
/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox and IE */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#home{
height: 900px;
}
html {
  scroll-behavior: auto !important;
}


@media only screen and (min-width: 1025px) and (max-width: 1280px) {
 #carImg{
  width: 150px;
}
}



@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.auto-scroll {
  display: flex;
  animation: scroll-left 40s linear infinite;
}

.auto-scroll:hover {
  animation-play-state: paused;
}

@keyframes redOverlay {
  0% {
    transform: translateX(0);
    opacity: 0.95;
  }
  30% {
    transform: translateX(0);
    opacity: 0.95;
  }
  100% {
    transform: translateX(100%);
    opacity: 0.80;
  }
}

.animate-redOverlay {
  background: rgba(212, 3, 3, 0.9); /* darker red */
  animation: redOverlay 4s ease-in-out forwards;
}

@keyframes showBack {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-showBack {
  animation: showBack 1s ease-in forwards;
  animation-delay: 2.6s; /* start after overlay completes */
}


/* Target active pagination bullet */
.swiper-pagination-bullet-active {
  background-color: red !important;
   opacity: 1 !important; 
}

/* Optional: Change inactive dots too */
.swiper-pagination-bullet {
  background-color: red !important; /* light red (optional) */
}

/* mobile  */

@media (min-width: 450px) and (max-width: 502px) {
  #tyre{
    top: 358px !important;
    width: 340px !important;
  }
}
@media (min-width: 381px) and (max-width: 450px) {
  #tyre{
    top: 351px !important;
    width: 350px !important;
  }
}
@media (min-width: 378px) and (max-width: 381px) {
  #tyre{
    top: 305px !important;
    width: 300px !important;
  }
}
@media (min-width: 364px) and (max-width: 378px) {
  #tyre{
    top: 385px !important;
    width: 300px !important;
  }
}

@media (min-width: 354px) and (max-width: 364px) {
  #tyre{
    top: 421px !important;
    width: 280px !important;
  }
}
@media (min-width: 349px) and (max-width: 354px) {
  #tyre{
    top: 441px !important;
    width: 280px !important;
  }
}
@media (min-width: 326px) and (max-width: 349px) {
  #tyre{
    top: 481px !important;
    width: 250px !important;
  }
}
@media (min-width: 320px) and (max-width: 326px) {
  #tyre{
    top: 530px !important;
    width: 250px !important;
  }
}

/* // desktop //  */
 @media (min-width: 502px) and (max-width: 549px) {
  #tyre {
    top: 325px !important;
    width: 360px !important;
  }
}
 @media (min-width: 550px) and (max-width: 603px) {
  #tyre {
    top: 325px !important;
    width: 360px !important;
  }
}
 @media (min-width: 603px) and (max-width: 688px) {
  #tyre {
    top: 325px !important;
    width: 360px !important;
  }
}
 @media (min-width: 668px) and (max-width: 759px) {
  #tyre {
    top: 300px !important;
    width: 360px !important;
  }
}
@media (min-width: 759px) and (max-width: 1024px) {
  #tyre{
    top: 235px !important;
    width: 350px !important;
  }
}
@media (min-width: 1024px) and (max-width: 1028px) {
  #tyre{
    top: 235px !important;
    width: 350px !important;
  }
}
@media (min-width: 1029px) and (max-width: 1150px) {
  #tyre{
    top: 235px !important;
    width: 350px !important;
  }
}
@media (min-width: 1150px) and (max-width: 1250px) {
  #tyre{
    top: 235px !important;
    width: 350px !important;
  }
}

#road-animation {
  line-height: 0;
}